
//--------------------------------------------------------------------------------------------------------------
// Hero Image
//--------------------------------------------------------------------------------------------------------------

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background: linear-gradient(rgba(240, 97, 97, 0.1), rgba(179, 206, 157, 0.5)), url("../images/hero-image.png");
@media (min-width: 768px) {
/* Set a specific height */
height: 600px;
}
height: 260px;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero_text {
  @media screen and (max-width: 600px){
    p {font-size: 1rem};
    h1{font-size: 1.2rem;}
  }
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {color: white;}
  .title-intro {
    color: white;
    font-size: 1.5em;
  }
}

// order-now panel
.order-now {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-red);
  justify-content: center;
}
.order-now-info {
  justify-content: center;
  text-align: center;
}
// -------------------------------------------------------------------------
// Two section info 
// -------------------------------------------------------------------------

.container-pannels{
   @media only screen and (max-width: 900px) {
    padding: 20px;
  }
    display:flex;
    padding: 100px;
}
.image-maya {
  max-width: 100px;
  margin-top: -11em;
  display: inline;
} 

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 50% width*/
  flex-basis: 50%; /* sets initial width to 50% */
}

.box {
  background: rgba(145, 236, 137, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  border: 2px solid rgb(116, 113, 113);
  margin: 1rem;
}

@media only screen and (max-width: 900px) {
  .container-pannels {
      /* it place the items in vertical direction */
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}
//--------------------------------------------------------------------------------------------------------------
// About page 
//--------------------------------------------------------------------------------------------------------------
.row {
  @media only screen and (max-width: 900px) {
    display: inline-block;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  p {
    line-height: 1.8;
    font-size: 1.3em;
  }
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


// footer
footer {
  background: var(--clr-yellow-light);
  display: block;
  text-decoration: none;
  font-size: 17px;
  h1, a, p {color: var(--clr-red);}

}

.footer_wrapper {
  text-align: center;
  padding:5rem;
}
.footer_email {
  font-size: 1.2em;
}

