<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<div class="footer-logo">
				<%= image_tag 'logo.png', :alt => "Los Compas" %>
			</div>
			<a href="https://www.facebook.com/loscompas21208" target="blank?"><i class="fab fa-facebook fa-3x"></i></a>&nbsp;

			<a href="https://www.instagram.com/los.compas.taqueria/" target="blank?">
				<i class="fab fa-instagram fa-3x"></i>
			</a>&nbsp;

			<a href="mailto:loscompastaqueria21@gmail.com">
				<span>
					<i class="far fa-envelope fa-3x"></i>
				</span>
			</a>

			<p>
				© 2022
				<a href="https://www.google.com/maps/place/21208+Calistoga+Rd,+Middletown,+CA+95461/@38.7510034,-122.6175477,17z/data=!3m1!4b1!4m5!3m4!1s0x80846e6d4674cfd9:0x788195bcbca5d107!8m2!3d38.7510034!4d-122.615359" target="blank?">
					21208 Calistoga Street Middletown, CA 95461
				</a>
				&nbsp;
				<br>
				<a href="tel:7072350831">707 235-0831</a>
			</p>
		</div>
	</div>
</footer>