<!-- 
<footer>
	<div class="footer-center">
        
        <div class="footer-header">
          <img src="./logo.svg" class="logo" alt="logo" />
          
        </div>
        
        
        <div class="footer-social-icons">
	        <ul class="footer-icons">
	          <li>
	            <a href="https://www.twitter.com">
	              <i class="fab fa-facebook"></i>
	            </a>
	          </li>
	          <li>
	            <a href="https://www.twitter.com">
	              <i class="fab fa-twitter"></i>
	            </a>
	          </li>
	          <li>
	            <a href="https://www.twitter.com">
	              <i class="fab fa-behance"></i>
	            </a>
	          </li>
	          <li>
	            <a href="https://www.twitter.com">
	              <i class="fab fa-linkedin"></i>
	            </a>
	          </li>
	          <li>
	            <a href="https://www.twitter.com">
	              <i class="fab fa-sketch"></i>
	            </a>
	          </li>
	        </ul>
        </div>
      </div>
</footer>

-->