---
title: Los Compas | about
---


<div class="section section-center">
<div class="pages-header">
        <h1 >WHO WE ARE</h1>
    </div>
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'about.JPG' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<blockquote>
					<p>
						We love our tacos, its a family affair. 
						I know that is why our tacos are loved by so many, our guest can feel the love we put in the making of them. 
						When you come to eat our food we continue the tradition of now three generations, full bellies, and smiles.
					</p>
				</blockquote>

			</div>
		</aside>
	</div>
</div>

