---
title: Los Compas | about
---


<div class="section section-center">
<div class="row-about">
  <div class="column-about">
  <h2>image here</h2>

  </div>
  <div class="column-about">
  <h2>About us</h2>
  <p>Since 2018 we’ve been known as the ‘Taco brothers’ and the ‘taco boys’. With our trusty 1968 Citroen H truck and our 1961 converted horsebox by our side, we’ve been serving London and the south of England with as many tacos as they can handle. ‘The Shed’ is the next step in our evolution as a business. It’s everything you loved about the taco trucks, but now with an expanded menu and a place to sit and enjoy your food.
   Best of all, we can keep serving come rain or shine. This is just the beginning of something even bigger.</p>
  <p>Whether we’re catering a beautiful wedding, dazzling guests as a private party, or serving you lunch in the shed, our ethos doesn’t change: restaurant quality food on a paper plate
  . Street food should be fun, fresh, and affordable.</p>
  </div>
</div>
</div>