---
title: Los Compas | about
---


<div class="section section-center">
<div class="pages-header">
        <h1 >WHO WE ARE</h1>
        <div class="underline"></div>
    </div>
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'hero-image.png' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<blockquote>
					<p>
						Our vision was to create a place for families and locals to come to eat. 
						In the beautifull town of Middletown Ca, we found it challenging to find a family-friendly place 
						to get delicious fresh food.
						We wanted to provide friends and neighbors with the original form of social networking-  
						a fun, easygoing restaurant, and a cold beer.
						We believe in providing exceptional quality products with friendly service in a clean and 
						welcoming setting and that is what has helped us earn the reputation among the locals 
						as one of the best hidden gems in Middletown.
					</p>
				</blockquote>

			</div>
		</aside>
	</div>
</div>

