---
title: Los Compas | about
---


<div class="section section-center">
	<div class="pages-header">
		<h1 >WHO WE ARE</h1>
	</div>
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'about.JPG' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<blockquote>
					<p>
						At Los Compas we provide Mexican flavors, both authentic and unique, along with fast and friendly service. 
						We do mexican street food right, with many options and a clean outdoor covered dining area.
						A fantastic space for locals and visitors alike to enjoy a family-friendly, affordable meal. You will love it! 
					</p>
				</blockquote>

			</div>
		</aside>
	</div>
</div>

