---
title: Los Compas | Home
---


 <div class="hero-image">
  <section class="hero_text container">
    <h1>Los Compas Taqueria</h1>
    <p class="title-intro">Mexican Street Food</p>
  </section>
</div>

<div class="order-now">
<div class="section section-center">
    <div class="order-now-info">
       <h1>Order now!</h1>
      <button class="btn"><a href="tel:55555555">55555555</a></button>
    </div>
    </div>
</div>



  <div class="row">

  <div class="section section-center">
    <div class="column">
      <%= image_tag 'maya.png', :class => "img-maya-info" %>
      <h2>Menu</h2>
      <p>check our menu</p>
      <button class="btn">menu</button>
    </div>
    <div class="column">
     <%= image_tag 'maya-2.png', :class => "img-maya-info" %>
      <h2>Contact</h2>
      <p>Hungry? This way to visit us.</p>
      <button class="btn">map</button>
    </div>
  </div>
</div>
