---
title: Los Compas | Home
---

<div class="section section-center">

<div class="hero-image">
  <section class="hero-text">
  <h1>
    Welcome to taco!
  </h1>
  </section>
</div>

<div class="section-panels">
<section>
<h3>section</h3>
</section>
<aside>
<h3>aside</h3>
</aside>
</div>
</div>
