---
title: Los Compas | Home
---


 <div class="hero-image">
  <section class="hero_text container">
    <h1>Los Compas Taqueria</h1>
    <p class="title-intro">Street Tacos</p>
    <button class="btn"><a href="tel:55555555">55555555555</a></button>
  </section>
</div>


<div class="section section-center">
<div class="section-panels">
<section>
<h3>section</h3>
</section>
<aside>
<h3>aside</h3>
</aside>
</div>
</div>
