---
title: Los Compas | Home
---


 <div class="hero-image">
  <section class="hero_text container">
    <h1>Los Compas Taqueria</h1>
    <p class="title-intro">Mexican Street Food</p>
  </section>
</div>

<div class="order-now">
<div class="section section-center">
    <div class="order-now-info">
       <h1>Order now!</h1>
      <button class="btn"><a href="tel:7072350831">707 235-0831</a></button>
    </div>
    </div>
</div>

<div class="container-pannels">
   <div class="column-1 box">
        <%= image_tag 'maya.png', :class => "image-maya" %>
        <h1>MENU</h1>
        <p>
            Checkout our menu.
        </p>
        <button type="button" class="btn">menu</button>
    </div>
    <div class="column-2 box">
      <%= image_tag 'maya-2.png', :class => "image-maya" %>
        <h1>INFO</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur magni impedit aliquam voluptates accusantium.
         Sit amet nostrum quas fugiat deleniti, ex nulla illum atque iure tempora aperiam, aliquid cumque cupiditate!</p>
        <p>
           location: 21208 Calistoga RD, Middletown ca.
        </p>
        <p>tel: 707-235-0831</p>
        <p>
          email us: <i>email</i>
        </p>
    </div>
</div>