---
title: Los Compas | Home
---


<div class="hero-image">
    <section class="hero_text container">
        <h1>Los Compas Taqueria</h1>
        <p class="title-intro">Mexican Street Food</p>
    </section>
</div>

<div class="order-now">
    <div class="section section-center">
        <div class="order-now-info">
            <h1>Order now!</h1>
            <button class="btn"><a href="tel:7072350831">707 235-0831</a></button>
        </div>
    </div>
</div>

<div class="container-pannels">
    <div class="column-1 box">
        <%= image_tag 'maya.png', :class => "image-maya" %>
        <h3>OUR FOOD</h3>
        <p>
            Clean And Fresh Ingredients 
        </p>
        <button type="button" class="btn">
            <%= link_to 'menu', '/menu.html', :relative => true %>
        </button>
    </div>
    <div class="column-2 box">
        <%= image_tag 'maya-2.png', :class => "image-maya" %>
        <h3>HOURS & LOCATION</h3>
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a href="https://www.google.com/maps/place/21208+Calistoga+Rd,+Middletown,+CA+95461/@38.7510034,-122.6175477,17z/data=!3m1!4b1!4m5!3m4!1s0x80846e6d4674cfd9:0x788195bcbca5d107!8m2!3d38.7510034!4d-122.615359" target="blank?">
                21208 Calistoga Street Middletown, CA 95461
            </a>
            <br>
            <a href="tel:7072350831">707 235-0831</a>
        </p>
        <p>
            <i class="fas fa-clock"></i>
            Monday - Tuesday: CLOSED
        </p>
        <p>
            <i class="fas fa-clock"></i>
            Wednesday & Saturday: 1:00 PM - 8:00 PM
        </p>
        <p>
            <a href="mailto:loscompastaqueria21@gmail.com">
                <i class="fas fa-envelope"></i>
                email us
            </a>
        </p>
    </div>
</div>