---
title: Los Compas | Menu
---

 <section class="menu">

    <div class="title">
      <h2>our menu</h2>
      <div class="underline"></div>
    </div>
    <div class="btn-container">
    <!-- 
      <button class="filter-btn" type="button" data-id="all">
      all
      </button>
      <button class="filter-btn" type="button" data-id="breakfast">
      breakfast
      </button>
      <button class="filter-btn" type="button" data-id="lunch">
      lunch
      </button>
      <button class="filter-btn" type="button" data-id="shakes">
      shakes
      </button>
      -->
    </div>

    <div class="section-center">
    <!--
      <article class="menu-item">
        <%= image_tag 'menu-item.jpeg', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>buttermilk pancakes</h4>  
            <h4 class="price">$15</h4>
          </header>
          <p class="item-text">
          <%= lorem.sentences 5 %></p>
        </div>
      </article>
      -->
    </div>
  </section>


  <div class="menu">

	<div class="heading">
		<h1>FOOD MENU</h1>
		<span>ALL THE BEST FOOD AND BEVERAGES IN TOWN</span>
	</div>
	<div class="item burgers">
		<h2>Burgers</h2>
		<p><span>Hamburger</span>
			<span>$3</span>
		</p>
		<p><span>Cheeseburger</span>
			<span>$3.50</span>
		</p>
		<p><span>Double Cheese Burger</span>
			<span>$4.50</span>
		</p>
		<p><span>Veggie Burger</span>
			<span>$3</span>
		</p>
	</div>

	<div class="item hot_dog">
		<h2>Hot Dogs</h2>
		<p><span>Hot Dog</span> <span>$3</span></p>
		<p><span>Chilli Dog</span> <span>$5</span></p>
		<p><span>Veggie Hot Dog</span> <span>$3</span></p>
	</div>

	<div class="item chill">
		<h2>Chili</h2>
		<p><span>Cup</span> <span>$2</span></p>
		<p><span>Bowl</span> <span>$4</span></p>
	</div>

	<div class="item sides">
		<h2>Sides</h2>
		<p><span>Chips</span> <span>$1</span></p>
		<p><span>Fries</span> <span>$2</span></p>
		<p><span>Sweet Potato Fries</span> <span>$3</span></p>
		<p><span>Onion Rings</span> <span>$3</span></p>
	</div>

	<div class="item drinks">
		<h2>Drinks</h2>
		<p><span>Soda</span> <span>$1</span></p>
		<p><span>Iced Tea</span> <span>$1</span></p>
		<p><span>Fresh Squeezed Lemonade</span> <span>$2</span></p>
	</div>

</div>